/* line 2, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form {
  padding-top: 12px;
}
/* line 4, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form label {
  width: 150px;
  float: left;
}
/* line 7, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form label.required:after {
  content: " *";
}
/* line 11, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form input {
  width: 200px;
}
/* line 14, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .field {
  margin: 12px 0px;
}
/* line 17, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .actions {
  margin-left: 150px;
}
/* line 19, /usr/local/rvm/gems/ruby-2.0.0-p451@aug2013/bundler/gems/refinerycms-inquiries-192b4a91f4a0/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .actions input {
  width: auto;
}
