$primary-color: lighten(gray, 40%) !default;
.bg-1 {
  background-color: $primary-color;
}
.navbar-brand {
  margin-top: -7px;
}
#aboutus {
  padding-bottom: 10px;
  padding-top: 150px;
}
.feedback-box .client {
  margin-top: 10px;
  height: 150px;
  position: relative;
}