$primary-color: lighten(gray, 40%) !default;
.bg-1 {
  background-color: $primary-color;
}
.navbar-brand {
  margin-top: -7px;
}
#aboutus {
  padding-bottom: 10px;
  padding-top: 150px;
}
.feedback-box .client {
  // margin-top: 0px;
  min-height: 150px;
  position: relative;
}
.client-image img {
  width: 71px;
}