/* line 1, /usr/local/rvm/gems/ruby-2.0.0-p643@jkramer/bundler/gems/refinerycms-blog-5ee833618c3f/app/assets/stylesheets/refinery/blog/backend.css.scss */
ul.blog_categories {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 5px;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643@jkramer/bundler/gems/refinerycms-blog-5ee833618c3f/app/assets/stylesheets/refinery/blog/backend.css.scss */
ul.blog_categories, ul.blog_categories li {
  list-style: none;
  margin: 5px 0;
}

/* line 11, /usr/local/rvm/gems/ruby-2.0.0-p643@jkramer/bundler/gems/refinerycms-blog-5ee833618c3f/app/assets/stylesheets/refinery/blog/backend.css.scss */
a#copy_body_link {
  background: url(/assets/refinery/icons/add-d9cef296003490d54265e12e9e8eede27e5f9ba71253b8b7ab7d13a4bd60fc1f.png) no-repeat scroll 0 6px transparent;
  border-bottom: 0 none;
  display: inline;
  line-height: 29px;
  margin-top: 0;
  padding-left: 20px;
}

/* line 19, /usr/local/rvm/gems/ruby-2.0.0-p643@jkramer/bundler/gems/refinerycms-blog-5ee833618c3f/app/assets/stylesheets/refinery/blog/backend.css.scss */
.form-actions a.confirm-delete, #content .form-actions a.confirm-delete {
  position: relative;
  right: auto;
}
